<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnpinyin.lastchinese">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".activities.NewActivity" /> -->
        <activity
            android:name=".activities.VocabularyList"
            android:label="Vocabulary List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewPagerSlider"
            android:label="@string/title_activity_tabed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DialogueImageSlider"
            android:label="cnpinyin.com"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <service
            android:name=".services.MediaPlayerService"
            android:label="" />

        <activity
            android:name=".activities.Slc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProductLIst" />
        <activity android:name=".activities.SentencesAndDialogue" />
        <activity android:name=".activities.SentencePageSlider"></activity>
    </application>

</manifest>